<!DOCTYPE html>
{% load static %}
<html lang="ja" data-theme="cupcake">

<head>
  <meta charset="UTF-8">
  <title>Expense Mate | コストメイト</title>
  <link rel="icon" type="image/png" href="{% static 'images/favicon.ico' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Your site description here.">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
    integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
  <nav class="shadow-md sticky top-0 z-50">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between h-16">
        <!-- Logo - always visible -->
        <div class="flex items-center">
          <a href="{% url 'expenses_mate:expenses_list_create' %}">
            <img src="{% static 'images/expenses_mate_icon.png' %}" alt="Logo" width="60px">
          </a>
        </div>

        <!-- Profile and Logout icons -->
        <div class="flex items-center space-x-4">
          <!-- User profile icon with text hidden on small screens -->
          <a href="#" class="inline-flex items-center px-5 pt-1 text-2xl text-black-500 md:text-sm font-medium hover:text-gray-700">
            <i class="fa fa-user"></i>
            <span class="hidden md:inline ml-2">{{ user.username }}</span>
          </a>

          <!-- Logout icon with text hidden on small screens -->
          <a href="{% url 'account_logout' %}"
            class="inline-flex items-center px-2 pt-1 text-2xl text-black-500 md:text-sm font-medium hover:text-gray-700">
            <i class="fas fa-sign-out-alt"></i>
            <span class="hidden md:inline ml-2">Logout</span>
          </a>
        </div>
      </div>
    </div>
  </nav>

  <div class="relative">
    {% if request.path != '/' %}
    <a href="{% url 'expenses_mate:expenses_list_create' %}">
      <button class="back-to-home absolute left-10 top-7 lg:left-28">戻す</button>
    </a>
    {% endif %}
  </div>
  <div class="header-block flex items-center justify-center text-center">
    <img src="{% static 'images/expenses_mate_icon.png' %}" width="100px" style="margin-right: 10px;" />
    <!-- <h1 class="header"><span class="japanese-text">コストメイト</span>｜Expense Mate</h1> -->
    <h1 class="text-center header">コストメイト｜ExpenseMate</h1>

  </div>

  <section class="vh-100 ">
    <div class="flex justify-center">
      {% block contents%}
      <!-- ここに個別のテンプレートの内容が組み込まれる-->
      {% endblock %}
    </div>

  </section>

</body>

</html>