{% extends './layout/base.html' %}
{% load humanize %}
{% load custom_tags %}

{% block contents %}

<div class="container mx-auto p-4">
    <div class="expenses-title">
        <h2 class="flex-1 text-center">{{ expenses_group.title }}</h2>
    </div>

    <form method="post" class="w-full md:w-5/6" style="margin: 0 auto;">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 gap-4">
            {% csrf_token %}

            <div class="list-input-block grow">
                {{ form.item_name|add_class:"expenses-list-input" }}
                <label for="id_item_name" class="floating-label">アイテム名</label>
                <span class="border-animation"></span>
                {{ form.item_name.errors }}
            </div>

            <div class="grid grid-cols-4 w-full gap-4">
                <div class="grow col-span-3">
                    <div class="list-input-block grow">
                        {% if form.amount %}
                        {{ form.amount|add_class:"expenses-list-input" }}
                        <label for="{{ form.amount.id_for_label }}" class="floating-label">金額</label>
                        <span class="border-animation"></span>
                        {% if form.amount.errors %}
                        <div class="error-list">
                            {{ form.amount.errors }}
                        </div>
                        {% endif %}
                        {% else %}
                        <p class="error-text">Error: The amount field is not available.</p>
                        {% endif %}

                    </div>
                </div>
                <div class="grow-0">
                    <button type="submit" class="add-button">+</button>
                </div>
            </div>
        </div>
    </form>
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-3 lg:grid-cols-4">
        <div class="mx-auto p-1 md:p-4 col-span-1 md:col-span-2 lg:col-span-3 mb-4 w-full overflow-visible">
            <h2 class="my-3 expenses-table-title mx-3">支出</h2>
            <table class="expenses-table hidden md:table relative">
                <thead>
                    <tr>
                        <th></th>
                        <th>作成者</th>
                        <th>アイテム名</th>
                        <th>金額</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    {% for expense in expenses %}
                    <tr>
                        <td class="expenses-table-icon">
                            <i class="fas fa-user-circle"></i>
                        </td>
                        <td>{{ expense.user_id }}</td>
                        <td>{{ expense.item_name }}</td>
                        <td>{{ expense.amount|floatformat:2|intcomma }}</td>
                        <td>
                            <div class="dropdown relative">
                                <div tabindex="0" role="button" class="btn m-1 three-dots">
                                    <i class="fas fa-ellipsis-v"></i>
                                </div>
                                <ul tabindex="0"
                                    class="dropdown-content menu bg-base-100 rounded-box z-50 absolute w-36 p-2 shadow custom-dropdown">
                                    <form method="post"
                                        action="{% url 'expenses_mate:expense_detail' expenses_group.group_id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="expense_id" value="{{ expense.expense_id }}">
                                        <li>
                                            <button type="submit" name="delete" class="delete-icon">
                                                <i class="fas fa-trash-alt mr-1"></i>
                                                <span class="hidden md:inline">削除</span>
                                            </button>
                                        </li>
                                        <hr />
                                    </form>
                                    <li>
                                        <button class="edit-icon"
                                            onclick="document.getElementById('edit_modal_{{ expense.expense_id }}').showModal()">
                                            <i class="fas fa-edit mr-1"></i>
                                            <span class="hidden md:inline">編集</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <dialog id="edit_modal_{{ expense.expense_id }}" class="modal">
                        <div class="modal-box">
                            <form method="dialog">
                                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                            </form>
                            <h3 class="text-lg font-semibold mb-3">費用を編集</h3>
                            <form method="POST" action="{% url 'expenses_mate:update_expense' expense.expense_id %}">
                                {% csrf_token %}
                                <input type="hidden" name="group_id" value="{{ expenses_group.group_id }}">
    
                                <div>
                                    <label for="item_name" class="block text-sm font-medium text-gray-700">アイテム名</label>
                                    <div class="mt-2">
                                        <input type="text" id="item_name" name="item_name" value="{{ expense.item_name }}"
                                            class="input input-bordered w-full">
                                    </div>
                                </div>
                                <div>
                                    <label for="amount" class="block text-sm font-medium text-gray-700">金額</label>
                                    <div class="mt-2">
                                        <input type="text" id="amount" name="amount" value="{{ expense.amount }}"
                                            class="input input-bordered w-full">
                                    </div>
                                </div>
    
                                <div class="flex justify-end mt-6">
                                    <button
                                        class="btn bg-gray-300 text-gray-700 px-4 py-2 rounded mr-2 btn-ghost">閉じる</button>
                                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">編集</button>
                                </div>
                            </form>
                        </div>
                    </dialog>
                    {% endfor %}
                </tbody>
            </table>
            <div class="md:hidden overflow-y-auto">
                {% for expense in expenses %}
                <div
                    class="p-5 shadow-lg rounded-lg min-w-[260px] cursor-pointer transition-shadow duration-300 hover:shadow-xl border my-2 mb-0">
                    <div class="flex justify-between items-center">
                        <div class="expenses-table-icon" style="text-align: left;">
                            <i class="fas fa-user-circle"></i>
                        </div>
                        <div class="dropdown dropdown-bottom dropdown-end relative">
                            <div tabindex="0" role="button" class="btn m-1 three-dots">
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                            <ul tabindex="0"
                                class="dropdown-content menu bg-base-100 rounded-box z-50 absolute w-36 p-2 shadow custom-dropdown">
                                <form method="post"
                                    action="{% url 'expenses_mate:expense_detail' expenses_group.group_id %}">
                                    {% csrf_token %}
                                    <li>
                                        <input type="hidden" name="expense_id" value="{{ expense.expense_id }}">
                                        <button type="submit" name="delete" class="delete-icon">
                                            <i class="fas fa-trash-alt mr-1"></i>
                                            <span>削除</span>
                                        </button>
                                    </li>
                                    <hr />
                                </form>
                                <li>
                                    <button class="edit-icon"
                                        onclick="document.getElementById('shared_modal_{{ expense.expense_id }}').showModal()">
                                        <i class="fas fa-edit mr-1"></i>
                                        <span>編集</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h3 class="text-darkmagenta text-xl font-semibold mt-3">{{ expense.user_id }}</h3>
                    <p class="leading-6 my-3">アイテム名: <span class="font-bold">{{ expense.item_name }}</span></p>
                    <p class="leading-6">金額: <span class="font-bold">{{ expense.amount|floatformat:2|intcomma }}</span>
                    </p>
                    <dialog id="edit_modal_{{ expense.expense_id }}" class="modal">
                        <div class="modal-box">
                            <form method="dialog">
                                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
                            </form>
                            <h3 class="text-lg font-semibold mb-3">費用を編集</h3>
                            <form method="POST" action="{% url 'expenses_mate:update_expense' expense.expense_id %}">
                                {% csrf_token %}
                                <input type="hidden" name="group_id" value="{{ expenses_group.group_id }}">
    
                                <div>
                                    <label for="item_name" class="block text-sm font-medium text-gray-700">アイテム名</label>
                                    <div class="mt-2">
                                        <input type="text" id="item_name" name="item_name" value="{{ expense.item_name }}"
                                            class="input input-bordered w-full">
                                    </div>
                                </div>
                                <div>
                                    <label for="amount" class="block text-sm font-medium text-gray-700">金額</label>
                                    <div class="mt-2">
                                        <input type="text" id="amount" name="amount" value="{{ expense.amount }}"
                                            class="input input-bordered w-full">
                                    </div>
                                </div>
    
                                <div class="flex justify-end mt-6">
                                    <button
                                        class="btn bg-gray-300 text-gray-700 px-4 py-2 rounded mr-2 btn-ghost">閉じる</button>
                                    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">編集</button>
                                </div>
                            </form>
                        </div>
                    </dialog>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="container mx-auto p-4 lg:p-8 my-4 w-full">
            <h2 class="text-2xl font-semibold text-center expenses-user-info-title my-4">ユーザーごとの合計金額</h2>
            <div class="max-w-lg mx-auto mt-5 p-4 border border-gray-200 rounded-lg shadow-md bg-white">
                {% for user_total in user_totals %}
                <div class="flex justify-between py-2 border-b border-gray-200">
                    <span class="text-lg font-bold text-gray-800">
                        {{ user_total.user_id__username }}：
                    </span>
                    <span class="text-lg font-bold text-blue-600">
                        {{ user_total.total_amount }}
                    </span>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}