{% extends './layout/base.html' %}
{% load humanize %}

{% block contents %}

<!-- <table class="styled-table">
  <thead>
    <tr>
      <th style="width: 25%;">Username</th>
      <th style="width: 45%;">Title</th>
      <th style="width: 15%;">Badge</th>
      <th style="width: 15%;">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="center-content">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp" alt="avatar 1"
          style="width: 45px; height: auto;" alt="Icon" class="table-icon" width="50px">
        <span>Alice Mayer</span>
      </td>
      <td>Title 1</td>
      <td><span class="badge">New</span></td>
      <td><button class="btn-action">Action</button></td>
    </tr>
    <tr>
      <td class="center-content">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava2-bg.webp" alt="avatar 1"
          style="width: 45px; height: auto;"  alt="Icon" class="table-icon" width="50px">
        <span>Kate Moss</span>
      </td>
      <td>Title 2</td>
      <td><span class="badge">Update</span></td>
      <td><button class="btn-action">Action</button></td>
    </tr>
    <!- Add more rows as needed 
  </tbody>
</table> -->

<div class="mx-auto w-full md:w-3/4 px-4 mt-1.5">
  <div class="list-input-block">
    <input type="text" id="input__username" class="expenses-list-input" placeholder=" ">
    <label for="input__username" class="floating-label">新しい支出リストを追加</label>
    <span class="border-animation"></span>
    <button class="add-button">+</button>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4">
    <!-- <div class="card">
      <div class="card-title">
        <!- <span class="badge">New</span> --
        <h2 class="title">Card Title</h2>
      </div>
      <div class="user-info">
        <span class="user-name">John Doe</span>
        <span class="user-role">Admin</span>
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <!- <span class="badge">New</span> --
        <h2 class="title">Card Title</h2>
      </div>
      <div class="user-info">
        <span class="user-name">John Doe</span>
        <span class="user-role">Admin</span>
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <!- <span class="badge">New</span> --
        <h2 class="title">Card Title</h2>
      </div>
      <div class="user-info">
        <span class="user-name">John Doe</span>
        <span class="user-role">Admin</span>
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <!- <span class="badge">New</span> --
        <h2 class="title">Card Title</h2>
      </div>
      <div class="user-info">
        <span class="user-name">John Doe</span>
        <span class="user-role">Admin</span>
      </div>
    </div>
    <div class="card">
      <div class="card-title">
        <!- <span class="badge">New</span> --
        <h2 class="title">Card Title</h2>
      </div>
      <div class="user-info">
        <span class="user-name">John Doe</span>
        <span class="user-role">Admin</span>
      </div>
    </div> -->
    {% for expense_card in expenses_group %}
    <div class="card">
      <div class="card-title">
        <h2 class="title">{{ expense_card.title }}</h2>
        <!-- <span class="badge">{{ expense_card.transaction_type }}</span> -->
      </div>
      <div class="flex justify-between items-end">
        <div>
          <div class="info">
            <span class="info-title">作成者：</span>
            <span class="info-title">{{ expense_card.created_by }}</span>
          </div>
          <div class="info">
            <span class="info-title">総支出額：</span>
            <span class="info-value">{{ expense_card.total_expense|intcomma }}</span>
          </div>
          <div class="info">
            <span class="info-title">作成日：</span>
            <span class="info-value">{{ expense_card.created_at|date:"Y年n月j日 H:i" }}</span>
          </div>
        </div>
        <a href="{% url 'expenses_mate:expenses_list' %}" target="_blank" class="detail-btn">
          <span class="detail-btn-text">詳細</span>
          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg" class="icon">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
          </svg>
        </a>
      </div>
    </div>
    {% empty %}
    <p>No expenses found.</p>
    {% endfor %}
  </div>

</div>



{% endblock %}