{% extends './layout/base.html' %}
{% load humanize %}
{% load custom_tags %}

{% block contents %}

<div class="mx-auto w-full md:w-3/4 px-4 mt-1.5">
  <form method="POST" action="{% url 'expenses_mate:expenses_list_create' %}">
    {% csrf_token %}
    <div class="list-input-block">
      {{ form.title|add_class:"expenses-list-input" }}
      <label for="input__username" class="floating-label">新しい支出リストを追加</label>
      <span class="border-animation"></span>
      <button type="submit" class="add-button">+</button>
    </div>
  </form>

  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-4">

    {% for expense_card in expenses_group %}
    <div class="card">

      <div class="flex justify-between items-center">
        <div class="card-title flex items-center space-x-2">
          <h2 class="title mt-4">{{ expense_card.title }}</h2>
          <!-- <span class="badge">{{ expense_card.transaction_type }}</span> -->
        </div>
        <div>
          <div class="dropdown dropdown-end dropdown-bottom">
            <div tabindex="0" role="button" class="btn m-1 three-dots">
              <i class="fas fa-ellipsis-v"></i>
            </div>
            <ul tabindex="0"
              class="dropdown-content menu bg-base-100 rounded-box z-[1] w-36 p-2 shadow custom-dropdown">
              <li>
                <a>
                  <div class="edit-icon"><i class="fas fa-edit mr-1"></i> 編集</div>
                </a>
              </li>
              <hr />
              <li>
                <form method="post" action="{% url 'expenses_mate:expenses_list_create' %}">
                  {% csrf_token %}
                  <input type="hidden" name="delete_id" value="{{ expense_card.group_id }}">
                  <button type="submit" class="delete-icon"><i class="fas fa-trash-alt mr-1"></i> 削除</button>
                </form>
              </li>
              <hr />
              <li>
                <a onclick="document.getElementById('shared_modal_{{ expense_card.group_id }}').showModal()">
                  <div class="share-icon"><i class="fas fa-share"></i> 共有</div>
                </a>
              </li>
            </ul>
          </div>
          <dialog id="shared_modal_{{ expense_card.group_id }}" class="modal">
            <div class="modal-box">
              <form method="dialog">
                <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
              </form>
              <h3 class="text-lg font-semibold mb-3">共有するユーザーを選択</h3>
              <form method="POST" action="{% url 'expenses_mate:share_expense_group' expense_card.group_id %}">
                {% csrf_token %}
                <input type="hidden" name="title" id="title" value="{{ expense_card.title }}">
                <div>
                  <label for="users" class="block text-sm font-medium text-gray-700">ユーザーを選択</label>
                  <div class="mt-2">
                    {% for user in all_users %}
                    <div class="flex items-center mb-2">
                      <!-- Checkbox input for each user -->
                      <input type="checkbox" name="shared_with" value="{{ user.user_id }}" id="user_{{ user.user_id }}"
                        {% if user in expense_card.shared_with.all %}checked{% endif %}
                        class="checkbox checkbox-lg border-[#EAECC6] [--chkbg:#2BC0E4] [--chkfg:#EAECC6] checked:border-[#2BC0E4]">

                      <!-- Label for the checkbox -->
                      <label for="user_{{ user.user_id }}" class="ml-2 text-sm text-gray-700">
                        {{ user.username }}
                      </label>
                    </div>
                    {% endfor %}
                  </div>
                </div>
                <div class="flex justify-end mt-6">
                  <form method="dialog">
                    <button class="btn bg-gray-300 text-gray-700 px-4 py-2 rounded mr-2 btn-ghost">閉じる</button>
                  </form>
                  <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded">共有</button>
                </div>
              </form>
            </div>
          </dialog>
        </div>
      </div>

      <div class="flex justify-between items-end">
        <div>
          <div class="info">
            <span class="info-title">作成者：</span>
            <span class="info-title">{{ expense_card.created_by }}</span>
          </div>
          <div class="info">
            <span class="info-title">総支出額：</span>
            <span class="info-value">{{ expense_card.total_expense|default:0|intcomma }}</span>
          </div>
          <div class="info">
            <span class="info-title">共有ユーザー：</span>
            <!-- <span class="info-value">{{ expense_card.shared_with.all|join:", " }}</span> -->
            <span class="info-value">
              {% for user in expense_card.shared_with.all %}
              {{ user.username }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </span>
          </div>
          <div class="info">
            <span class="info-title">作成日：</span>
            <span class="info-value">{{ expense_card.created_at|date:"Y年n月j日 H:i" }}</span>
          </div>
        </div>
        <a href="{% url 'expenses_mate:expense_detail' expense_card.group_id %}" class="detail-btn card-btn ">
          <span class="detail-btn-text">詳細</span>
          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
            class="icon">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M14 5l7 7m0 0l-7 7m7-7H3"></path>
          </svg>
        </a>
      </div>
    </div>
    {% empty %}
    <p>No expenses found.</p>
    {% endfor %}
  </div>

</div>

<script>
  $(document).ready(function () {
    $('#users').select2({
      placeholder: 'Select users',
      allowClear: true
    });
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/alpinejs" defer></script>

{% endblock %}